<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{title}} — pochade-blog</title>
</head>
<body>


  {{header.html}}
  <main>

    <p>For setup information, please visit <a href="https://github.com/lnsy-dev/qjs-mdc">our github</a> </p>

    {{content}}
  </main>
  {{footer.html}}


    <script src="https://lnsy-dev.github.io/simple-github-icon/github-icon.min.js"></script>
<github-icon style="position: fixed; margin-top: -1em;right:0.5em; top:0px; padding: 0em; width: 2em; height: 2em;" href="https://github.com/lnsy-dev/qjs-mdc"></github-icon>

</body>
</html>